body {
    background-color: #F4F1E9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    user-select: none;
}

.coverpage {
    position: absolute; 
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    min-height: 900px;
    display: grid;
    background: linear-gradient(90deg, #EDEBE4 70%, #F4F1E9 30%);
}
.innerwrap {
    position: absolute;
    top: 60px;
    right: 60px;
    left: 60px;
    bottom: 60px;

    height: calc(100% - 120px);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 120px;
    grid-template-areas: 'top' 'mid' 'bottom';

}

/* TOP DETAILS */
.topdetails {
    user-select: none;
    z-index: 1;
    position: relative;
   
    inset: 0;

    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'city date month';

    top: -10px; opacity: 0;
}   
.clientcity {
    cursor: pointer;
    grid-area: city;
    margin: auto auto auto 10%;
}

/* CITY OPTIONS DROPDOWN */
@keyframes cityoptionspop {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        top: 60px;
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes cityoptionshide {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8, 0.8);
        top: 60px;
    }
}
.cityoptions {
    opacity: 0;
    transform: scale(0.8, 0.8);
    transform-origin: top left;
    transition: 0.4s ease;

    grid-area: city;

    position: absolute;
    top: 60px;
    left: 10%;

    width: 170px;
    height: 140px;

    border-radius: 14px;
    box-shadow: 0px 0px 30px #00000012;
    background-color: #F8F7F0;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 1fr;
}
.cityoptions > div, .cityoptions * {
    transition: ease 0.2s;
}

.cityoptions > div:hover:nth-child(1) {
    background-color: #f3f2e8;
}
.cityoptions > div:hover:nth-child(2) {
    background-color: #f3f2e8;
}
.cityoptions > div:hover:nth-child(3) {
    background-color: #f3f2e8;
}
.cityoptions > div > span {
    margin: auto auto auto 15px;
}
.cityoptions > div > img {
    margin: auto 17px auto auto;
    width: 13px;
}
.addcity {
    cursor: pointer;
    color: #222222;
    border-radius: 14px 14px 0 0;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
    border-bottom: #dfdfdf solid 1px;
}
.changecity {
    cursor: not-allowed;
    color: #a7a7a7;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
    border-bottom: #dfdfdf solid 1px;
}
.addcitylocation {
    cursor: pointer;
    color: #222222;
    border-radius: 0 0 14px 14px ;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
}
.searchcities, .listofcities {
    display: none;
}
@keyframes slideupsearch {
    from {
        top: 70px;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
    }
}
@keyframes slideuplist {
    from {
        top: 130px;
        opacity: 0;
    }
    to {
        top: 120px;
        opacity: 1;
    }
}
.searchcities {
    transition: 0.4s ease;

    grid-area: city;

    position: absolute;
    top: 70px;
    opacity: 0;
    left: 10%;

    width: 470px;
    height: 50px;

    border-radius: 14px;
    box-shadow: 0px 0px 30px #00000012;
    background-color: #F8F7F0;

    /*display: grid;*/
}
.searchcities > input:focus {outline: none;}
.searchcities > input {
    margin: 10px;
    color: #6f6f6f;
    font-weight: 400;
    border: none;
    background-color: #f8f7f000;
    text-indent: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.listofcities {
    z-index: 100000;
    /*
    opacity: 0;
    transform: scale(0.8, 0.8);
    transform-origin: top left;
    */

    transition: 0.4s ease;

    grid-area: city;

    position: absolute;
    top: 130px;
    opacity: 0;
    left: 10%;

    width: 470px;
    height: max-content;

    border-radius: 14px;
    box-shadow: 0px 0px 30px #00000012;
    background-color: #F8F7F0;

    /*display: grid;*/
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.listitem {
    cursor: pointer;
    width: 100%;
    height: max-content;

    border-bottom: 1px #dfdfdf solid;
    background-color: #F8F7F0;

    display: grid;

    transition: ease 0.2s;
}
.listitem:hover {
    background-color: #eeeddf;
}
.listitem:first-of-type {
    border-radius: 14px 14px 0 0;
}
.listitem:last-of-type {
    border-radius:  0 0 14px 14px;
    border-bottom: none;
}
.listitem > div {
    font-size: 15px;
    color: #464646;
    margin: 13px auto 15px 20px;
}
.error-map {
    position: absolute;
    left: 10px;
    top: 160px;
    width: 164px;
    font-size: 14px;
    color: #404040;
}

.loaddots {
    display: none;
    position: absolute;
    top: 95px;
    left: 226%;
    width: 100px;
    height: 50px;
    z-index: 100000;
}
.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: #3f3f3f;
    box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    animation: dot-typing 1.5s infinite linear;
  }
  
  @keyframes dot-typing {
    0% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
    50% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px -10px 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px -10px 0 0 #3f3f3f;
    }
    100% {
      box-shadow: 9984px 0 0 0 #3f3f3f, 9999px 0 0 0 #3f3f3f, 10014px 0 0 0 #3f3f3f;
    }
  }

.confirmoption {
    position: absolute;
    bottom: -100px; opacity: 0;
    width: 100%;
    height: 50px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 'no yes';
}
@keyframes confirmoptionslideup {
    from{
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: -60px;
        opacity: 1;
    }
}
.confirmoption > div {
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 75%;
    border-radius: 14px;
    box-shadow: 0px 0px 30px #00000012;
    background-color: #F8F7F0;
    transition: ease 0.2s;
}
.confirmoption img {
    width: 20px;
}
.confirmoption > div:active, .confirmoption img:active {
    transform: scale(0.9, 0.9);
}

.clientdate {
    grid-area: date;
    margin: auto;
}
.dayview {
    cursor: pointer;
    grid-area: month;
    margin: auto 10% auto auto;
}

@keyframes topdetailsdrop {
    0% {top: -10px;}
    100% {top: 0px; opacity: 1;}
}

@keyframes bottomcontentslide {
    0% {bottom: -10px;}
    100% {bottom: 0px; opacity: 1;}
}


.user-settings {
    position: absolute;
    bottom: 0;
    right: 4%;

    height: 100px;
    width: 130px;

    display: grid;
}
.settings {
    cursor: pointer;
    margin: auto 0 30px auto;
}
.settingsoptions {
    cursor: default;
    position: absolute;
    bottom: 60px; opacity: 0;
    right: 0;
    width: 170px;
    height: 150px;
    border-radius: 14px;
    box-shadow: 0px 0px 30px #00000012;
    background-color: #F8F7F0;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
@keyframes showsettingsoptions {
    from {
        bottom: 60px;
        opacity: 0;
    }
    to {
        bottom: 70px;
        opacity: 1;
    }
}
@keyframes hidesettingsoptions {
    from {
        bottom: 70px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}
.setting:first-of-type {
    border-bottom: #dfdfdf solid 1px;
    background-color: #F8F7F0;
    border-radius: 14px 14px 0 0;
}
.setting:last-of-type {
    border-top: #dfdfdf solid 1px;
    background-color: #F8F7F0;
    border-radius: 0 0 14px 14px;
}
.setting {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'desc second';
}
.setting > span {
    margin: auto auto auto 15px;
}

.setting > div {
    margin: 8px 10px 8px 20px;
    grid-area: second;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
}
.setting > div > div {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 10px;
}
.setting:last-of-type {
    cursor: not-allowed;
    color: #757575 !important;
}
.themetype {
    cursor: not-allowed !important;
    color: #acacac;
}
/* SPINNER LOADER */ 
.pageloader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);

    transition: 0.3s ease;
}
.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

.splitpage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: #EDEBE4;

    z-index: -1;
}

/*
@media (prefers-color-scheme: dark) {
    .coverpage {
        background: linear-gradient(90deg, rgb(84 83 75) 70%, rgb(88 88 81) 30%);
    }
    .propertytempsplit {
        color: #000000;
    }
    .topdetails, .clientproperties, .weekday, .hour {
        color: #212121;
    }
    .todaydayoutline{
        border: 1px solid #232323;
    }
    .spacerline {
        background-color: #232323;
    }
    .cityoptions {
        box-shadow: rgb(60 60 59 / 55%) 0px 0px 30px;
        background-color: #69685e;
    }
    .addcity, .changecity {
        color: #484848;
        border-bottom: #545454 solid 1px;
    }
    .clientcity::after {
        color: #000000 !important;
    }
    .option:hover {
        background-color: #7e7d73 !important;
    }
    .confirmoption > div {
        background-color: #69685e;
        box-shadow: 0px 0px 30px #00000011;
    }

}*/


@media only screen and (max-width: 1200px) {
    .largetempdisplay {
        font: bold normal 110px system-ui;
    }
} 
@media only screen and (max-width: 900px) {
    .largetempdisplay {
        font: bold normal 110px system-ui;
        width: 100%;
    }
    .maincontent {
        grid-template-columns: 1fr;
    }
    .hourdisplay {
        display: none;
    }
    .weekdisplay {
        margin: 10px 0 0 0;
    }
    .user-settings {
        position:  absolute;
        bottom: -50px;
        right: 0;
    }
} 

@media only screen and (max-width: 650px) {
    .innerwrap {
        top: 40px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (max-width: 550px) {
    .largetempdisplay {
        font: bold normal 50px system-ui;
        width: 80%;
    }
    .clientday {
        margin-top: 10px;
        font-size: 25px;
    }
    .coverpage, body {
        background: #EDEBE4;
    }
    .weekdisplay {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
        grid-template-areas: 'day1 day2 day3 day4 day5 day6 day7';
    }
    .spacerline {
        display: none;
    }
    .user-settings {
        right: 10px;
        bottom: -80px;
    }
    .clienthour {
        display: none;
    }
    .clientproperties {
        grid-template-rows: 1fr 1fr;
    }
    .clientweatherdesc {
        font-size: 15px;
        margin: auto auto auto 0;
    }
    .texticon {
        left: 0;
        transform: translate(0, 0);
        top: 80px;
    }
    .topdetails {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #map {
        top: 220px !important;
        left: 0 !important;
    }
    .searchcities, .listofcities {
        width: 360px;
    }
}